
/* 여기부터 */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border: 2px solid gray;
    box-sizing: border-box;
    border-radius: 20px;
}

.game {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: white;
    
}
.date-nav-game{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid gray;
    border-radius: 20px;
}

.team-logo {
    width: 100px;
    height: 100px;
    
    
}
.logo-center{
    display: flex;
    justify-content: center;
}

.details {
    display: block;
    text-align: center;
    /* 모든 일정의 세부 정보를 기본적으로 보여줌 */
}

.date-navigation {
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
}

.date-navigation button {
    font-size: 16px;
    padding: 5px 10px;
}


.today-game{
    color: red;
}
p{
    font-weight: bolder;
}

#backimage1{
    background-image: url("./image/image9.jpg");
    background-size: 100% 100%;
}
#backimage2{
    background-image: url("./image/image9.jpg");
    background-size: 100% 100%;
}

/* 여기까지 내꺼 */





* {
    font-family: 'Roboto Condensed', sans-serif;
}
    
body {
    background-color: white;
}

#logo {
    float : left;
    align-items : center;
    justify-content : center;
    display : flex;
}

#menu {
    float : right;
    align-items : center;
    justify-content : center;
    display : flex;
}

#nav, #logo, #menu {
    height : 150px;
    font-style : bold;
}

.menu_list {
    font-size : 25px;
}

#menu > ul > li {
    display: inline;
    padding: 40px;
    font-size: 35px;
    font-weight : 700;
    position: relative;
}

#menu > ul > li:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 25%;
    width: 1px;
    background-color: gray;
}

#menu > ul > li > a {
    color : black;
    text-decoration : none;
}

#menu > ul > li > a:hover {
    color : gray;
    text-decoration : none;
}

#main_slide {
    width : 100%;
    height : 100%;
    overflow : hidden;
    position: relative;
}

#slide {
    width: 500%;
    height: 100%;
    display: flex;
    transition: transform 1s;
}

#slide > div {
    width: 20%;
    flex-shrink: 0;
}

.slide_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
}

#advertise {
    width : 100%;
    height : 300px;
    background-color: black;
    color : white;
}

.advertise_content {
    float : left;
    justify-content: center;
}

#advertise_text {
    display : block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width : 60%;
}

#advertise_img {
    display : flex;
    width : 40%;
}

#youtube {
    float : left;
    display : flex;
    justify-content: center;
    width : 100%;
}

.RANKING{
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank_table {
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
}

th, td {
    padding: 6px 15px;
}

.rank_table th {
    background: #42444e;
    color: #fff;
    text-align: left;
}

.rank_table tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

.rank_table tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

.rank_table td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
}

.rank_table td:first-child {
    border-left: 1px solid #c6c9cc;
}

.rank_table tr:nth-child(even) td {
    background: #eaeaed;
}
.rank_table tr:nth-child(odd) td {
    background: white;
}
.rank_table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

.rank_table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.rank_table th:nth-child(1) {
    width: 5%;
}

.table_logo{
    height: 1.5rem;
    width: 1.5rem;
}

.rank_table tr:hover td{
    background-color: lightgray;
}

.rank_table td a {
    display: flex;
    align-items: center;
}

.rank_table td:nth-child(1) {
    font-weight: bold;
    text-align: center;
}

.rank_table a {
    text-decoration: none;
}

.rank_table a:visited {
    color: #42444e;
}

.footer {
    background-color: white;
    clear : both;
}

#foot_maker{
    float : left;
    font-size : 12px;
}

#foot_sns {
    float : right;
}

.footer_img {
    width : 25px;
    height : 25px;
}