
* {
    font-family: 'Roboto Condensed', sans-serif;
}

.content{
    width: 70%;
    margin: auto;
}
.subnav{
    border: none;
    background-color: transparent;
    font-size: 20px;
}
.subnav:hover{
    color: gray;
}
#content_nav{
    text-align: center;
}

.subnav {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.tab {
  display: none;
}
.selected {
  color: gray;
}

#table_div{
    border: 1px #a39485 solid;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #42444e;
}

.firstRow {
    background: black;
    color: #fff;
    height: 50px;
    font-size: 17px;
}
.wholeRow {
    background-color: #42444e;
    color: white;
    text-align: left;
    height: 40px;
    font-size: 15px;
}
.wholeRow:hover{
    background-color: gray;
}
#buttonArea{
    text-align: center;
}
#buttonArea button{
    display: inline-block;
}

.lead_board{
    width: 100%;
    border-top: 1px lightgray solid;
}

.lead_board tr > th{
    text-align: left;
}

.rowline > td{
    border-top: 1px lightgray solid;
    font-weight: bold;
    color: #000;
}

.miniteam{
    font-size: 10px;
    color: lightgray;
}

.custom-btn {
    width: 130px;
    height: 40px;
    border: 2px solid #000;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    background-color: #000;
    color: #fff;
    z-index: 1;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #e0e5ec;
    transition: all 0.3s ease;
}
.btn-16:hover {
    color: #000;
}
.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.btn-16:active {
    top: 2px;
}
#showGraph{
    width: 100%;
    height: 100%;
    margin: auto;
}

.chart-container{
}

.chartbutton{
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: gray;
}
.chartbutton:hover{
    color: lightgray;
}
.chartbutton {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding-left: 0;
}
.compare{
    float: left;
}
.compbox{
    width: 300px;
    height: 300px;
}
#vsBox{
    display: flex;
    justify-content : center;
    align-items : center;
}
#playertable{
    width: 100%;
}
#playertable td{
    border: 1px #000 solid;;
    cursor: pointer;
}
#playertable td:active{
    background-color: lightgray;
}
#playertable td:hover{
}
.player{
    width: 20%;
    height: 200px;
    padding: 0;
}
.playerimg{
    width: 100%;
    height: 80%;
}